@media only screen and (max-width: 766px){
    body{background: #000000;}

    .conteiner-cabecalho{
        display: flex;
        height: 150px;
        width: 99%;
        align-items: center;
        justify-content: space-around;
    }
    .logos-cabecalho{
        display: none;
        flex-direction: column;
        gap: 10px;
    }
    #cartao, #pix{height: 25px;}
    header{
        border: solid 0px #FF3131;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 99%;
        border-radius: 10px;
    
    }
    #btHome, #btCatalogo{
        border: solid 0px;
        background: none;
        color: #fff;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #btHome:hover, #btCatalogo:hover{
        filter: brightness(70%);
        color: #FF3131;
        cursor: pointer;
    }
    #logo{height: 95px;}
    .redes-socias{
        display: none;
        gap: 10px;
        flex-direction: column;
    }
    #whats,#instagram{height: 25px;}
    #whats:hover,#instagram:hover{filter: brightness(70%);}
    
    
    .catalogo-corpo{
        display: flex;
        flex-direction: column;
    }
    #titulo{color: #fff;
        text-align: center;
        margin-top: 60px;
    }
    .primeira-fila{
        display: flex;
        flex-direction: column;
    }
    #prod-1,#prod-2,#prod-3,#prod-4,#prod-5,#prod-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #name-prod,#cor-disp,#codigo-prod,#pagamento{color: #fff;}
    #valor-prod{color: #13e32e;}
}

@media only screen and (min-width: 767px) and (max-width: 1023px){
    body{background: #000000;}

    .conteiner-cabecalho{
        display: flex;
        height: 150px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }
    .logos-cabecalho{
        display: flex;
        gap: 10px;
    }
    header{
        border: solid 0px #FF3131;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 60%;
        border-radius: 10px;
    
    }
    #btHome, #btCatalogo{
        border: solid 0px;
        background: none;
        color: #fff;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #btHome:hover, #btCatalogo:hover{
        filter: brightness(70%);
        color: #FF3131;
        cursor: pointer;
    }
    
    .redes-socias{
        display: flex;
        gap: 10px;
    }
    #whats:hover,#instagram:hover{filter: brightness(70%);}
    
}

@media only screen and (min-width: 1024px){
    body{background: #000000;}

.conteiner-cabecalho{
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.logos-cabecalho{
    display: flex;
    gap: 10px;
}
header{
    border: solid 0px #FF3131;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 60%;
    border-radius: 10px;

}
#btHome, #btCatalogo{
    border: solid 0px;
    background: none;
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btHome:hover, #btCatalogo:hover{
    filter: brightness(70%);
    color: #FF3131;
    cursor: pointer;
}

.redes-socias{
    display: flex;
    gap: 10px;
}
#whats:hover,#instagram:hover{filter: brightness(70%);}

}
